{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block styles%}
    {{ super() }}
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/articles.css')}}">
{% endblock %}

{% block content %}
    <title>{{ title }}</title>

    <div class="container">

        <h2 class="article-header">News Arcticles</h2>

        <div class="row source-row">

            <ul class="list">
                {{ macro.displayArticleList(articles) }}
            </ul>

        </div>

    </div>

{% endblock %}
